@import 'node_modules/angular-notifier/styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, 'Montserrat', sans-serif;
  color: var(--text-accent-color);
}

app-root {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 90px;
}

app-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.dialog {
  min-width: 400px;
}

.text {
  margin: 30px 0;
  color: var(--text-accent-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.header-container {
  margin-top: 70px;

  .header-blue {
    color: var(--accent-color);
    font-size: 2.4rem;
    font-weight: bold;
  }

  .header-line {
    background-color: var(--accent-color);
    height: 2px;
    width: 100%;
  }
}
