<div class="basket-product">
  <div class="basket-product-img-wrapper">
    <img
      [src]="basketProduct.imageUrl"
      [alt]="basketProduct.name"
      class="basket-product-img"
    />
  </div>
  <div class="basket-product-name">
    {{ basketProduct.name }}
  </div>
  <div class="basket-product-prices">
    <span>{{ basketProduct.price | currency : 'zł' }}</span>
    <span> x {{ basketProduct.quantity }}</span>
    <span> {{ basketProduct.summaryPrice | currency : 'zł' }}</span>
  </div>
</div>
