<ul class="nav nav-tabs my-3">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="zamowienia"
      >Zamówienia</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="produkty"
      >Produkty</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="kategorie"
      >Kategorie</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="uzytkownicy"
      >Użytkownicy</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
