<section *ngIf="order">
  <div class="d-flex navig" (click)="navigateToList()">
    <mat-icon>arrow_back</mat-icon>&nbsp;&nbsp;
    <p class="pb-1">Powrót</p>
  </div>
  <p>Numer zamówienia: {{ order.orders }}</p>
  <p>
    Status zamówienia: <b>{{ changeStatusName(order.status) }}</b>
  </p>
  <p>Kwota zamówienia: {{ order.summaryPrice | currency : 'zł' }}</p>
  <br />
  <div class="row my-2" *ngIf="order.customerDetails as customer">
    <div class="col-md-6" *ngIf="order.address as address">
      <p><b>Adres dostawy:</b></p>
      <p>{{ customer.firstName }} {{ customer.lastName }}</p>
      <p>{{ address.street }} {{ address.number }}</p>
      <p>{{ address.city }}, {{ address.postCode }}</p>
    </div>
    <div class="col-md-6">
      <p><b>Sposób dostawy:</b></p>
      <p>{{ order.deliver.name }}</p>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-10">
      <p><b>Produkty:</b></p>
      <div *ngFor="let product of order.items">
        <app-order-product [basketProduct]="product"></app-order-product>
      </div>
    </div>
  </div>
</section>
<app-alert
  *ngIf="errorMsg"
  [message]="errorMsg"
  [alertType]="'warning'"
></app-alert>
