.main-img {
  height: 220px;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid gray;
}

.image-wrapper {
  height: 260px;
  margin: 5px;
}

.button-menu {
  display: flex;
  justify-content: center;
  margin: 5px;
}
