.form-input mat-form-field,
button {
  width: 100%;
}

.form-button {
  width: 100%;
  height: 56px;
}

.form-input {
  max-width: 480px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  height: 52px !important;
  font-size: 1.1rem;
}

.spinner {
  zoom: 0.3;
}
