<div class="container">
  <div class="row">
    <div class="header-container">
      <h2 class="header-blue">RESETOWANIE HASŁA</h2>
      <div class="header-line"></div>
    </div>
  </div>
  <div class="row mt-5">
    <form [formGroup]="resetForm" (ngSubmit)="onPasswdReset()">
      <div class="form-input">
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="controls.password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="controls.password.invalid">{{
            getErrorMessage(controls.password)
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-input">
        <mat-form-field appearance="outline">
          <mat-label>Powtórz hasło</mat-label>
          <input matInput type="password" [formControl]="controls.repassword" />
          <mat-error *ngIf="controls.repassword.invalid">{{
            getErrorMessage(controls.repassword)
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-input mt-3">
        <div class="form-button">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="resetForm.invalid"
          >
            <mat-spinner
              *ngIf="loading as load; else notLoad"
              class="spinner"
              color="accent"
            ></mat-spinner>
            <ng-template #notLoad>Zapisz hasło</ng-template>
          </button>
        </div>
      </div>
      <div
        class="alert alert-warning alert-dismissible fade show mt-2"
        role="'alert"
        *ngIf="error"
      >
        {{ error }}
      </div>
    </form>
  </div>
</div>
