<div class="container">
  <div class="row">
    <div class="header-container">
      <h2 class="header-blue">ODZYSKIWANIE HASŁA</h2>
      <div class="header-line"></div>
    </div>
  </div>
  <div class="row mt-5">
    <form [formGroup]="recoveryForm" (ngSubmit)="onPasswdRecovery()">
      <div class="form-input">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="adam@example.com"
            [formControl]="controls.email"
          />
          <mat-error *ngIf="controls.email.invalid">{{
            getErrorMessage(controls.email)
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="form-input mt-3">
        <div class="form-button">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="recoveryForm.invalid"
          >
            <mat-spinner
              *ngIf="loading as load; else notLoad"
              class="spinner"
              color="accent"
            ></mat-spinner>
            <ng-template #notLoad>Resetuj hasło</ng-template>
          </button>
        </div>
      </div>
      <div
        class="alert alert-warning alert-dismissible fade show mt-2"
        role="'alert"
        *ngIf="errorMsg"
      >
        {{ errorMsg }}
      </div>
    </form>
  </div>
</div>
