div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  width: 100%;
  text-align: center;
}

span {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  max-width: 480px;
  width: 90%;
}

button {
  height: 52px !important;
  font-size: 1.1rem;
}
