footer {
  background-color: var(--primary-color);
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 20px;
}

.nav-footer {
  a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin: 0 10px;
  }

  a:hover {
    color: var(--accent-color);
  }
}
