<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="https://put.poznan.pl">
      <img src="assets/pp_logo.svg" alt="Politechnika Poznańska" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="''"
          >
            STRONA GŁÓWNA
            <div class="nav-link-line"></div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/produkty">
            PRODUKTY
            <div class="nav-link-line"></div
          ></a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown" style="margin-top: 12px">
          <a class="nav-link display-initial" routerLink="/koszyk">
            KOSZYK
            <span class="position-relative">
              <span
                class="basket-quantity position-absolute d-flex justify-content-center align-items-center text-white"
                *ngIf="this.basketTotalCount$ | async as basketTotalCount"
                >{{ basketTotalCount }}</span
              >
              <mat-icon class="icon-size">shopping_basket</mat-icon>
            </span>
            <div class="nav-link-line"></div>
          </a>
          <!-- <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item">Zamówienia</a>
            </li>
          </ul> -->
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-template #notUser>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              [routerLink]="'logowanie'"
            >
              LOGOWANIE
              <div class="nav-link-line"></div>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              [routerLink]="'rejestracja'"
            >
              REJESTRACJA
              <div class="nav-link-line"></div>
            </a>
          </li>
        </ng-template>
        <ng-container *ngIf="user$ | async as user; else notUser">
          <li class="nav-item" *ngIf="isAdmin(user)">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="'/admin/panel'"
            >
              ADMIN PANEL
              <div class="nav-link-line"></div>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active"
              [routerLink]="'zamowienia'"
            >
              ZAMÓWIENIA
              <div class="nav-link-line"></div>
            </a>
          </li>
          <li class="nav-item">
            <div (click)="logout()" class="nav-link" style="cursor: pointer">
              WYLOGUJ SIĘ
              <div class="nav-link-line"></div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
