.form-input mat-form-field,
button {
  width: 100%;
}

.form-button {
  width: 90%;
}

.form-input {
  max-width: 480px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.del-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
